<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ObchodníkDRIP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let weby of Kategories">
        <a class="nav-link" (click)="getKategori(weby.id)">{{weby.name}}<span class="sr-only"></span></a>
      </li>
    </ul>
    <span class="navbar-text">
      Kosík
      <img src="https://img.icons8.com/pastel-glyph/2x/shopping-cart--v2.png" width="30px" height="30px">
    </span>
  </div>

</nav>

<div class="mx-auto" style="width: 1200px;">


</div>
<router-outlet></router-outlet>
